<div class="jumbotron text-center">
  <div class="container animated fadeInUp">
        <h1>Go Martini Web Application</h1>
        <p>
            <a href="https://github.com/codegangsta/martini" class="btn btn-danger btn-lg">
				Show Github
            </a>

            <a href="/about" class="btn btn-primary btn-lg">
				About
            </a>
        </p>
  </div>
</div>